
    <div class="links">
        <ul>
           <li>AdminLink</li>
           <li>AdminLink</li>
           <li>AdminLink</li>
           <li>AdminLink</li>
           <li>AdminLink</li>
           <li>AdminLink</li>
           <li>AdminLink</li>
        </ul>
    </div>