@{
    ViewBag.Title = "Documents";
}

<h2>Documents</h2>

<h3>Introduction</h3>
<table class="table">
    <tr>
        <td>
            <a href="~/Documents/WhatASuccessfulPartnershipMeansToMe_0911.docx" target="_blank">What a Successful Partnership Means to Me ~ Donald Hold</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/BVBP_Guidelines_0311.docx" target="_blank">Basic Partnership Guidelines</a>
        </td>
    </tr>
</table>
<h3>Before the Moment</h3>
<table class="table">
    <tr>
        <td>
            <a href="~/Documents/Cake.pdf" target="_blank">Ordering a Cake</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/EntertainmentResources.pdf" target="_blank">Entertainment Resources</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/Giveaways.pdf" target="_blank">Items for Giveaways and Enter-to-Win Contests</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/MarketingMaterials.pdf" target="_blank">Marketing Materials to Promot Your Event</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/PermitResources.pdf" target="_blank">Permit Resources</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/SettingABudget.pdf" target="_blank">Setting a Budget</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/SupplierPartnerParticipation.pdf" target="_blank">Supplier partner Participation in Your Event</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/Tools.pdf" target="_blank">Tools to Invite Guests Back to Your Restaurant From an Offsite Event</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/SpecialEventMenu.pdf" target="_blank">Special Event Menu</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/SpreadingTheWord.pdf" target="_blank">Spreading the Word About Your Event</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/StartingYourPlan.pdf" target="_blank">Starting Your Plan</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/Storytelling.pdf" target="_blank">Burgerville Marketing Materials for Storytelling at Your Event</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/BVBP_BuildingPartnerships_Infosheet_0311.docx" target="_blank">Building Partnerships in the Community</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/OutreachQuestionnaire_0911.docx" target="_blank">Outreach Interview Guide (We Contact Them)</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/WalkInQuestionnaire_0911.docx" target="_blank">Walk-In Interview Guide (They Contact Us)</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/OverviewMIBBook_0911.docx" target="_blank">Overview of the Marketing in a Box Book</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/BV_MIB_Poster_0912FINAL.pdf" target="_blank">Marketing in a Box Poster</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/PartnershipHalfPageBWFlyerTemplate_1112.doc" target="_blank">Half Page Partnership Flyer (B/W)</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/NewVendorAddForm.doc" target="_blank">Vendor Add/Change Request Form</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/W9.pdf" target="_blank">W9 - Request for Taxpayer Identification Number and Certification</a>
        </td>
    </tr>
</table>

<h3>In the Moment</h3>
<table class="table">
    <tr>
        <td>
            <a href="~/Documents/BVBP_Inthemoment_0311.docx" target="_blank">Partnership Steps - In the Moment</a>
        </td>
    </tr>
</table>

<h3>After the Moment</h3>
<table class="table">
    <tr>
        <td>
            <a href="~/Documents/BVBP_AfterWorksheet_0311.docx" target="_blank">Partnership Worksheet - After the Moment</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Documents/BVBP_ThankYouLetter_0311.docx" target="_blank">Thank You Letter</a>
        </td>
    </tr>
</table>










